#footer {
  background-color: black;
  height: 10vh;
}

.footer-fodder {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: 100%;
}

.footer-fodder span {
  grid-column: 1/3;
  place-self: center;
  color: white;
  font-size: 20px;
}

.git {
  grid-column: 9;
  place-self: center;
  color: white;
  font-size: 30px;
  transition: 0.5s;
}

.lnkin {
  grid-column: 10;
  place-self: center;
  color: white;
  font-size: 30px;
  transition: 0.5s;
}

.codepen {
  grid-column: 11;
  place-self: center;
  color: white;
  font-size: 30px;
  transition: 0.5s;
}

.git:hover,
.lnkin:hover,
.codepen:hover {
  color: yellow;
}
