#landing {
  background-image: url(../images/arianna-giavardi-TxZQ05sjd_8-unsplash.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: contain;
  position: relative;
}

.landing-heading {
  position: absolute;
  bottom: 20%;
  left: 2%;
  font-size: 55px;
  color: white;
  font-family: "Krona One", sans-serif;
  text-shadow: 2px 1px black;
}

.my-name {
  color: transparent;
  font-size: 55px;
  -webkit-text-stroke: 1px white;
  font-family: "Krona One";
}

.down-button {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  animation: downbutton 1s infinite linear;
}

@keyframes downbutton {
  50% {
    color: yellow;
    transform: translateY(5px);
  }
}
