.navbar {
  position: sticky;
  top: 20px;
  height: 0;
  z-index: 111;
}

.navs {
  position: sticky;
  display: flex;
  justify-content: space-around;
}

.navs li {
  position: sticky;
  list-style-type: none;
  margin-bottom: 20px;
  text-align: end;
}

.navs li a {
  position: sticky;
  color: white;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}

.navs li a:hover {
  color: black;
  border: 1px solid black;
  background-color: white;
}
.navtooltip {
  position: absolute;
  top: 40px;
  text-align: center;
  left: 0px;
  visibility: hidden;
  color: black;
  transition: 0.5s ease-in;
}

.tth {
  left: -4px;
}

.tts {
  left: 3px;
}

.ttp {
  left: -7px;
}

.ttwe {
  left: -35px;
}

.ttcm {
  left: -7px;
}

.ttt {
  left: -25px;
}

.navs li a:hover .navtooltip {
  visibility: visible;
  color: white;
}
