#skills {
  position: relative;
  height: auto;
  padding: 10px 10% 50px 10%;
  background-color: black;
}

.skill-heading {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  padding: 10px 0;
}

.skill-heading h1 {
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  color: white;
}

.skill-heading h2 {
  grid-column: 1;
  grid-row: 2;
  font-size: 40px;
  font-family: "Krona One";
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.soft-skills-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20vh auto 20vh;
  color: white;
}

.soft-skills-container h3 {
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
  font-size: 30px;
}

.soft-skills-list {
  grid-row: 2/3;
  grid-column: 4;
  justify-self: center;
  font-size: 20px;
}

.soft-skills-list ul {
  padding-left: 20px;
  border-left: 1px solid white;
}

.soft-skills-list ul li {
  list-style-type: none;
}

.code-skills-container {
  display: grid;
  grid-template-rows: 10vh auto 10vh 20vh;
  grid-template-columns: repeat(12, 1fr);
  color: white;
}

.code-skills-container h3 {
  grid-row: 2;
  font-size: 30px;
  grid-column: 5;
}

.code-skills-container i {
  font-size: 30px;
}

.htmlicon {
  grid-row: 1;
  grid-column: 9;
  place-self: center;
}

.cssicon {
  grid-row: 3;
  grid-column: 10;
  place-self: center;
}

.pythonicon {
  grid-row: 3;
  grid-column: 8;
  place-self: center;
}

.spincontainer1 {
  position: relative;
  width: 100px;
  height: 100px;
  grid-row: 3;
  grid-column: 8;
  display: grid;
}

.spin1 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px dashed white;
  border-radius: 50%;
  animation: spin 5s infinite linear;
  margin-top: -20px;
}

.spincontainer2 {
  position: relative;
  width: 100px;
  height: 100px;
  grid-row: 1;
  grid-column: 9;
  display: grid;
}

.spin2 {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 2px dashed white;
  border-radius: 50%;
  animation: spin 5s infinite linear;
  margin-top: -20px;
}

.spincontainer3 {
  position: relative;
  width: 100px;
  height: 100px;
  grid-row: 3;
  grid-column: 10;
  display: grid;
}

.spin3 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px dashed white;
  border-radius: 50%;
  animation: spin 5s infinite linear;
  margin-top: -20px;
}

.icondesc1 {
  position: absolute;
  bottom: -1vh;
  justify-self: center;
  font-size: 17px;
  font-weight: 900;
}

.icondesc2 {
  position: absolute;
  bottom: -1vh;
  justify-self: center;
  font-size: 17px;
  font-weight: 900;
}

.icondesc3 {
  position: absolute;
  bottom: -1vh;
  justify-self: center;
  font-size: 17px;
  font-weight: 900;
}

@keyframes spin {
  0% {
    transform: rotateZ(360deg);
  }

  50% {
    border: 2px dashed yellow;
  }
}

.spin1 span {
  animation: none;
  position: absolute;
}
