@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", monospace, sans-serif;
}

body {
  position: relative;
  background-color: black;
}

#about-me,
#w-and-e,
#skills,
#projects,
#testimonial {
  padding-bottom: 15vh;
}
