#w-and-e {
  padding: 10px 10% 50px 10%;
  background-color: black;
  color: white;
  position: relative;
}

.w-and-e-heading {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  padding: 10px 0;
}

.w-and-e-heading h1 {
  grid-row: 1;
  grid-column: 12;
  font-size: 23px;
  text-align: end;
}

.w-and-e-heading h2 {
  grid-row: 2;
  text-align: end;
  grid-column: 12;
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-family: "Krona One";
}

.education {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh auto 10vh;
}

.education div {
  grid-row: 2;
  grid-column: 1/4;
  padding-left: 10px;
  border-left: 1px solid white;
}

.workexperience1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh auto 10vh;
}

.workexperience1 div {
  grid-row: 2;
  grid-column: 3/9;
  padding-right: 5px;
  border-right: 1px solid white;
}

.workexperience2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh auto 10vh;
}

.workexperience2 div {
  grid-row: 2;
  grid-column: 1/4;
  padding-left: 10px;
  border-left: 1px solid white;
}
